
/cmake-build-debug
/cmake-build-release
/.idea
/src/Nodes/PythonNode/pybind11
/3rdParty/QtAwesome
/3rdParty/asiosdk
/3rdParty/eigen-3.4.0
/3rdParty/ffmpeg-n6.1.1-win64-gpl-shared-6.1
/3rdParty/LuaBridge-2.8
/3rdParty/libpd
/3rdParty/libsndfile
/3rdParty/Lua
/3rdParty/portaudio
/3rdParty/QCodeEditor
/3rdParty/QHotkey-master
/3rdParty/Qt-Advanced-Docking-System
/3rdParty/qtpropertybrowser
/3rdParty/TimelineV2-master
/3rdParty/Qt-Advanced-Docking-System/
/3rdParty/libpd/
/3rdParty

/cmake-build-release1
/src/Nodes/TimeCode
/3rdParty
/3rdParty
/cmake-build-release-mingw
/build
/NodeStudio
/build1
/cmake-build-debug-visual-studio
/Release
/build-msvc
